@font-face {
  font-family: 'CalciteWebCoreIcons';
  src:
    url('../fonts/CalciteWebCoreIcons.ttf') format('truetype'),
    url('../fonts/CalciteWebCoreIcons.woff') format('woff'),
    url('../fonts/CalciteWebCoreIcons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="esri-icon-"], [class*=" esri-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CalciteWebCoreIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}