/* Start css for mobil index.hmtl */

.outerBox {
    margin: 0rem 1.25rem;
}


@media only screen and (orientation: landscape) {

    /* css rules */
    .logoWrapper {
        justify-content: left;
    }
}

.centerLogin {
    height: 50%;
    width: auto;
    position: absolute;
    left: 45%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#loadingOfflineDataText {
    margin-right: 5px;
}

.marginBottom10 {
    margin-bottom: 10%;
}

.logoWrapper {
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid #fff;
}

.content {
    height: 100vh;
    background: #ffffff;
}

.dashboardLoginContent {
    bottom: 20px;
    position: absolute;
    right: 0px;
    left: 0px;
}

.footer {
    height: 70px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.button {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 120%;
    text-align: center;
    text-decoration: none;
    min-width: 90px;
    min-width: 5.625rem;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #008fd3;
    color: #fff;
    border-radius: 5px;
}

.login {
    background-color: #008fd3;
}

.button:active {
    background-color: #006999
}

.linkToVideoDashbaoard {
    margin-top: 100px;
}

.lastReadings {
    display: none;
    color: #000000;
}

.appVersion {
    color: #000000;
}

.loader-wrapper {
    width: 100%;
    height: 70px;
    /*position: absolute;*/
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #018ae6;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #018ae6;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}



#myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
}


/* End css for mobil index.hmtl */